import { Icon } from "lucide.slint";

export global LabIconSet {
    {% for icon in icons %}out property <Icon> {{ icon.name_pascal }}: {
        paths: [
            {% for path in icon.paths %}{
                command: "{{ path.commands }}",
                has_fill: {{ path.has_fill }},
            }{% if not loop.last %},{% endif %}{% endfor %}
        ],
    };{% endfor %}
}
